# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "938a7af4107fd5f1dd97944f178a40ef"
name = "rewards-coins-new"
application_url = "https://shopify-rewards-app-production.up.railway.app"
embedded = true

[build]
automatically_update_urls_on_dev = true

[webhooks]
api_version = "2026-01"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "read_customers, write_customers, write_discounts, read_discounts, write_order"

[auth]
redirect_urls = [ "https://shopify-rewards-app-production.up.railway.app/api/auth" ]

[app_proxy]
url = "/api/proxy"
prefix = "apps"
subpath = "rewards"
